<!DOCTYPE html>
<html>
	<head>
		<title>Hello AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="hello.js"></script>
	</head>
	<body data-ng-app="hello">
		<div class="container">
    <h1>Greeting</h1>
    <div data-ng-controller="home">
    <table border="1">
    	<thead>
    	<tr>
    		<td>Id</td>
    		<td>First Name</td>
    		<td>Email</td>
    	</tr>
    	</thead>
    	<tbody>
    		<tr data-ng-repeat="user in users">
    		<td>{{user.id}}</td>
    		<td><span data-ng-bind="user.first_name"></span></td>
    		<td><span data-ng-bind="user.email"></span></td>
    		</tr>
    		</tbody>
    </table>
    </div>
  </div>
	</body>
</html>